.container-sign-up {
  width: 400px;
  border-radius: 8px;
  min-width: 100%;
  background-color: #f6f6f6;

  .validate {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: red;
  }
  .pt-20 {
    padding-top: 0px;
  }
}
