.account-manager-page {
  .light-status-account {
    width: 15px;
    height: 15px;
    background: #ccc;
    border-radius: 50%;
    margin: auto;
    background: $red-color;
  }
  .light-status-account.active {
    background: #28a326;
  }
}
