.content {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  @media (min-width: $grid-breakpoints-md) {
    padding: 40px;
  }
  max-height: calc(100vh - #{$navbar-height});
  height: calc(100vh - #{$navbar-height});
  position: relative;
  top: $navbar-height;
  overflow: auto;
  z-index: 0;
}
