.content {
  padding: 10px;
  @media (min-width: $grid-breakpoints-md) {
    padding: 20px;
  }
  max-height: calc(100vh - #{$navbar-height});
  height: calc(100vh - #{$navbar-height});
  overflow: auto;
  z-index: 0;
}
