#__next {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  background-color: #f0f2f5;
}

.ant-image-preview-img {
  margin: 0 auto;
  transform: translateY(-50%) !important;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.modal-countdown {
  .ant-modal {
    top: 0;
    position: fixed;
    .ant-modal-content {
      background-color: #1c242c;
      padding: 40px;
      width: 100vw;
      height: 100vw;
      .ant-modal-close-x {
        font-size: 50px;
        margin-right: 30px;
      }
    }
  }
  .ant-progress {
    display: flex;
    .ant-progress-inner {
      height: 3vw !important;
      .ant-progress-bg {
        height: 3vw !important;
        background-color: #50e150;
      }
    }
    .ant-progress-text {
      font-size: 3vw;
      color: white;
    }
  }
}
