.input-modal-container2 {
  display: flex;
  justify-content: space-between;
  .ant-input-password {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    height: 40px;
  }
  .ant-form-item {
    width: 75%;
  }
  .ant-input-password::before {
    display: none;
  }
  input {
    //width: 75%;
    height: 35px;
  }
  h4 {
    width: 25%;
  }
  .label-item {
    font-weight: $font-weight-medium;
  }
  .required::after {
    content: "*";
    color: $red-color;
  }
}
