.modal-add-account-form {
  .avatar-container {
    display: flex;
    justify-content: center;
    .img-avatar {
      height: 15vh;
      width: 15vh;
    }
  }
  .pt-12 {
    padding-top: 12px;
  }

  .button-modal-family {
    border: none;
    box-shadow: none;
    padding: unset;
    font-weight: 600;
  }
  label {
    float: left;
  }
  .footer-modal {
    float: right;
  }
  .ant-picker {
    width: 100%;
  }
  .button-cancel {
    color: #1c242c;
  }
  .button-confirm {
    background: #1ab7ea;
  }
  .ant-form-item-row {
    justify-content: flex-end;
  }
}
